<title>帖子列表</title>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">帖子列表</div>
        <div class="layui-card-body">

          <div style="margin-bottom: 10px;">
            搜索
            <div class="layui-inline layui-form" lay-filter="component-form-element">
              <div class="layui-inline">
                <select name="postLists_search_key" id="postLists_search_key" lay-verify="">
                  <option value="title">帖子标题</option>
                  <option value="tid">分类</option>
                  <option value="del_flag">删除状态</option>
                  <option value="del_text">删除原因</option>
                  <option value="uid">发布人id</option>
                </select>
              </div>
              <div class="layui-inline">
                <input class="layui-input" name="postLists_search_val" id="postLists_search_val" autocomplete="off">
              </div>
            </div>
            <button class="postLists_search_btn layui-btn" data-type="reload">搜索</button>
          </div>
          <table class="layui-hide" id="dataFront-postLists" lay-filter="dataFront-postLists"></table>
          <script type="text/html" id="dataFront-postLists-bar">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="go">跳转</a>
            <a class="layui-btn layui-btn-xs" lay-event="replay">管理回复</a>
          </script>
          <script type="text/html" id="del_flag-switch">
            <input type="checkbox" name="del_flag" lay-skin="switch" lay-text="删除|正常" lay-filter="del_flag"
              value="{{ d.del_flag }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}"
              {{ d.del_flag ? 'checked' : '' }}>
            </script>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['admin', 'table', 'form'], function () {
    var admin = layui.admin
      , form = layui.form
      , table = layui.table
      , $ = layui.$;
    form.render(null, 'component-form-element');
    table.render({
      elem: '#dataFront-postLists'
      , url: './MyJson/帖子列表.json'
      , cellMinWidth: 60 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
      , cols: [[
        { field: 'pid', title: 'ID' }
        , { field: 'title', title: '帖子标题' }
        , { field: 'publish_time', title: '发布时间', sort: true }
        , { field: 'uid', title: '发布人id' }
        , { field: 'del_flag', title: '删除标志', sort: true, templet: '#del_flag-switch' }
        , { field: 'del_text', title: '删除原因', sort: true, edit: 'text' }
        , { field: 'like_count', title: '点赞人数', sort: true }
        , { field: 'comment_count', title: '评论人数', sort: true }
        , { field: 'scan_count', title: '收藏人数', sort: true }
        , { field: 'tid', title: '分类', sort: true }
        , { title: '操作', align: 'center', fixed: 'right', toolbar: '#dataFront-postLists-bar' }
      ]]
      , page: true
      , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
      , request: {
        pageName: 'currpage' //页码的参数名称，默认：page
        , limitName: 'limitnums' //每页数据量的参数名，默认：limit
      }
    });
    //搜索执行重载封装
    var active = {
      reload: function () {
        var _val = $('#postLists_search_val'),
          _key = $('#postLists_search_key');
        //执行重载 
        table.reload('dataFront-postLists', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          , where: {
            postLists_search_val: _val.val(),
            postLists_search_key: _key.val()
          }
        });
      }
    };
    //搜索按钮监听
    $('.postLists_search_btn').on('click', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
    //监听删除操作
    form.on('switch(del_flag)', function (obj) {
      var json = JSON.parse(decodeURIComponent($(this).data('json')));
      json = table.clearCacheKey(json);
      json[this.name] = obj.elem.checked;
      admin.req({ data: json })
    });
    //监听单元格编辑
    table.on('edit(dataFront-postLists)', function (obj) {
      var json = obj.data //得到所在行所有键值
      admin.req({ data: json })
    });
    //监听工具条
    table.on('tool(dataFront-postLists)', function (obj) {
      var data = obj.data;
      if (obj.event === 'go') {
        layer.msg('ID：' + data.pid + ' 的跳转操作');
      }
      else if (obj.event === 'replay') {
        admin.req({ data: { pid: data.pid } })
        layer.alert("ID为" + data.pid + '帖子的回复列表')
      }
    });
  });
</script>