<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
  <script type="text/html" template>
    <p>当前版本：UsShare-v{{ layui.admin.v }}</p>
  </script>
  <div class="layui-btn-container">
    <a href="http://usshare.kxinggs.cn" target="_blank" class="layui-btn">网站首页</a>
  </div>
</div>

<div class="layui-card-header">开发人员</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
    <p>前端:王达浩</p>
    <p>后端:郑哲钦</p>
    <p>后端:刘佩鑫</p>
    <p>运营:杨铮蕴</p>
    <p>测试:杨铮蕴</p>
    <p>客服:杨铮蕴</p>
    <p>产品经理:刘佩鑫</p>
    <p>项目经理:刘佩鑫</p>
  </blockquote>
</div>