<title>操作日志</title>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">操作日志</div>
        <div class="layui-card-body">
          <div style="margin-bottom: 10px;">
            搜索
            <div class="layui-inline layui-form" lay-filter="component-form-element">
              <div class="layui-inline">
                <select name="operationlogLists_search_key" id="operationlogLists_search_key" lay-verify="">
                  <option value="brow">brow</option>
                  <option value="city">city</option>
                  <option value="createTime">createTime</option>
                  <option value="exception">exception</option>
                  <option value="fun">fun</option>
                  <option value="ip">ip</option>
                  <option value="logName">logName</option>
                  <option value="logType">logType</option>
                  <option value="message">message</option>
                  <option value="operName">operName</option>
                  <option value="operationLogId">operationLogId</option>
                  <option value="succeed">succeed</option>
                </select>
              </div>
              <div class="layui-inline">
                <input class="layui-input" name="operationlogLists_search_val" id="operationlogLists_search_val"
                  autocomplete="off">
              </div>
            </div>
            <button class="operationlogLists_search_btn layui-btn" data-type="reload">搜索</button>
          </div>
          <table class="layui-hide" id="dataBack-operationlogLists" lay-filter="dataBack-operationlogLists"></table>
          <script type="text/html" id="dataBack-operationlogLists-bar">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['admin', 'table', 'form'], function () {
    var admin = layui.admin
      , form = layui.form
      , table = layui.table
      , $ = layui.$;
    form.render(null, 'component-form-element');
    table.render({
      elem: '#dataBack-operationlogLists'
      , url: layui.api.operationLog_findOperLogList
      , cellMinWidth: 60 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
      , cols: [[
        { field: 'brow', title: 'brow' }
        , { field: 'city', title: 'city' }
        , { field: 'createTime', title: 'createTime' }
        , { field: 'exception', title: 'exception' }
        , { field: 'fun', title: 'fun' }
        , { field: 'ip', title: 'ip' }
        , { field: 'logName', title: 'logName' }
        , { field: 'logType', title: 'logType' }
        , { field: 'message', title: 'message' }
        , { field: 'operName', title: 'operName' }
        , { field: 'operationLogId', title: 'operationLogId' }
        , { field: 'succeed', title: 'succeed' }
        , { title: '操作', align: 'center', fixed: 'right', toolbar: '#dataBack-operationlogLists-bar' }
      ]]
      , page: true
      , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
      , request: {
        pageName: 'page' //页码的参数名称，默认：page
        , limitName: 'size' //每页数据量的参数名，默认：limit
      }
    });
    //搜索和删除执行重载封装
    var active = {
      reload: function () {
        var _val = $('#operationlogLists_search_val'),
          _key = $('#operationlogLists_search_key');
        //执行重载 
        table.reload('dataBack-operationlogLists', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          , where: {
            searchVal: _val.val(),
            searchKey: _key.val()
          }
        });
      },
      delreload: function () {
        var _val = $('#operationlogLists_search_val'),
          _key = $('#operationlogLists_search_key');
        //执行重载 
        table.reload('dataBack-operationlogLists', {
          where: {
            searchVal: _val.val(),
            searchKey: _key.val()
          }
        });
      }
    };
    //搜索按钮监听
    $('.operationlogLists_search_btn').on('click', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
    //监听工具条
    table.on('tool(dataBack-operationlogLists)', function (obj) {
      var data = obj.data;
      if (obj.event === 'del') {
        admin.req({
          url: layui.api.operationLog_delete
          , data: { operationLogId: data.operationLogId }
          , done: () => {
            active['delreload'].call(this)
          }
        })
      }
    });
  });
</script>