<title>管理员</title>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">管理员</div>
        <div class="layui-card-body">

          <div style="margin-bottom: 10px;">
            搜索
            <div class="layui-inline layui-form" lay-filter="component-form-element">
              <div class="layui-inline">
                <select name="person-admin-Lists_key" id="person-admin-Lists_key" lay-verify="">
                  <option value="account">account</option>
                  <option value="avatar">avatar</option>
                  <option value="birthday">birthday</option>
                  <option value="createTime">createTime</option>
                  <option value="createUser">createUser</option>
                  <option value="delFlag">delFlag</option>
                  <option value="deptId">deptId</option>
                  <option value="deptName">deptName</option>
                  <option value="email">email</option>
                  <option value="name">name</option>
                  <option value="phone">phone</option>
                  <option value="position">position</option>
                  <option value="positionName">positionName</option>
                  <option value="roleId">roleId</option>
                  <option value="roleName">roleName</option>
                  <option value="salt">salt</option>
                  <option value="sexName">sexName</option>
                  <option value="status">status</option>
                  <option value="statusName">statusName</option>
                  <option value="updateTime">updateTime</option>
                  <option value="updateUser">updateUser</option>
                  <option value="userId">userId</option>
                </select>
              </div>
              <div class="layui-inline">
                <input class="layui-input" name="person-admin-Lists_val" id="person-admin-Lists_val" autocomplete="off">
              </div>
            </div>
            <button class="person-admin-Lists_btn layui-btn" data-type="reload">搜索</button>
            <button class="layui-btn layui-btn-normal" id="admin_add">添加</button>
          </div>

          <table class="layui-hide" id="person-admin-Lists" lay-filter="person-admin-Lists"></table>
          <script type="text/html" id="status-switch">
            <input type="checkbox" name="admin_status" lay-skin="switch" lay-text="ENABLE|DISABLE" lay-filter="admin_status"
              data-json="{{ encodeURIComponent(JSON.stringify(d)) }}"
              {{d.status == "ENABLE" ? 'checked' : '' }}>
            </script>

          <script type="text/html" id="status-switch-sex">
              <input type="checkbox" name="admin_status-sex" lay-skin="switch" lay-text="男|女" lay-filter="admin_status-sex"
                 data-json="{{ encodeURIComponent(JSON.stringify(d)) }}"
                {{d.sex == "M" ? 'checked' : '' }}>
              </script>
          <script type="text/html" id="admin_position_show">
            {{# 
              for(var index of d.admin_position){
            }}
            <span class="layui-badge layui-bg-black">{{index.position_name}}</span>
            {{#
            }
            }}
              </script>
          <script type="text/html" id="admin_role_show">
                {{# 
                  for(var index of d.admin_role){
                }}
                <span class="layui-badge layui-bg-black">{{index.role_name}}</span>
                {{#
                }
                }}
              </script>
          <script type="text/html" id="administrator-bar">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="editor_position">编辑职位</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="editor_role">编辑角色</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
              </script>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 添加管理员layer模板 -->
<div id="add_admin_form" class="layui-form" lay-filter="add_admin_form" style="margin: 20px; display:none;">
  <div class="layui-form-item">
    <label class="layui-form-label">登录账号</label>
    <div class="layui-input-block">
      <input type="text" name="account" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">头像路径</label>
    <div class="layui-input-block">
      <input type="text" name="avatar" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">生日</label>
    <div class="layui-input-block">
      <input type="text" name="birthday" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
    </div>
  </div>
  <!-- <div class="layui-form-item">
    <label class="layui-form-label">部门id</label>
    <div class="layui-input-block">
      <input type="number" name="deptId" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
    </div>
  </div> -->
  <div class="layui-form-item">
    <label class="layui-form-label">邮件</label>
    <div class="layui-input-block">
      <input type="text" name="email" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">登录密码</label>
    <div class="layui-input-block">
      <input type="text" name="password" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">手机号码</label>
    <div class="layui-input-block">
      <input type="text" name="phone" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-block">
      <input type="checkbox" checked name="status" lay-skin="switch" lay-text="启用|停用">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">性别</label>
    <div class="layui-input-block">
      <input type="checkbox" checked name="sex" lay-skin="switch" lay-text="男|女">
    </div>
  </div>
  <script type="text/html" template lay-url={{layui.api.post_findAllPost}} lay-done="role_render(d)">
  <div class="layui-form-item">
    <label class="layui-form-label">职位</label>
    <div class="layui-input-block">
      {{# 
        for(var i of d.data){
      }}
      <input type="checkbox" name=postId.{{i.postId}} title={{i.name}}>
      {{#
      }
      }}
    </div>
  </div>
  </script>
  <script type="text/html" template lay-url={{layui.api.role_findAllRole}} lay-done="role_render(d)">
  <div class="layui-form-item">
    <label class="layui-form-label">角色</label>
    <div class="layui-input-block">
      {{# 
        for(var i of d.data){
      }}
      <input type="checkbox" name=roleId.{{i.roleId}} title={{i.name}}>
      {{#
      }
      }}
    </div>
  </div>
  </script>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="add_admin_form">提交</button>
      <button type="reset" class="layui-btn layui-btn-primary" lay-filter="add_admin_form">重置</button>
    </div>
  </div>
</div>
<script>
  //异步获取后渲染添加的表单
  role_render = function (d) {
    layui.use(['form'], function () {
      var form = layui.form;
      form.render(null, 'add_admin_form');
    });
  };

  layui.use(['admin', 'table', 'layer', 'transfer', 'form'], function () {
    var admin = layui.admin
      , form = layui.form
      , layer = layui.layer
      , transfer = layui.transfer
      , table = layui.table
      , $ = layui.$;

    form.render(null, 'component-form-element');
    table.render({
      elem: '#person-admin-Lists'
      , url: layui.api.user_findUserList
      , cellMinWidth: 100 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
      , cols: [[
        { field: 'account', title: 'account' }
        , { field: 'avatar', title: 'avatar', edit: 'text' }
        , { field: 'birthday', title: 'birthday', edit: 'text' }
        , { field: 'createTime', title: 'createTime' }
        , { field: 'createUser', title: 'createUser' }
        , { field: 'delFlag', title: 'delFlag' }
        , { field: 'deptId', title: 'deptId' }
        , { field: 'deptName', title: 'deptName' }
        , { field: 'email', title: 'email', edit: 'text' }
        , { field: 'name', title: 'name', edit: 'text' }
        , { field: 'phone', title: 'phone', edit: 'text' }
        , { field: 'position', title: 'position' }
        , { field: 'positionName', title: 'positionName' }
        , { field: 'roleId', title: 'roleId' }
        , { field: 'roleName', title: 'roleName' }
        , { field: 'salt', title: 'salt' }
        , { field: 'sex', title: 'sex', templet: '#status-switch-sex' }
        , { field: 'status', title: 'status', templet: '#status-switch' }
        , { field: 'statusName', title: 'statusName' }
        , { field: 'updateTime', title: 'updateTime' }
        , { field: 'updateUser', title: 'updateUser' }
        , { field: 'userId', title: 'userId' }
        , { title: '操作', align: 'center', width: 200, fixed: 'right', toolbar: '#administrator-bar' }
      ]]
      , page: true
      , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
      , request: {
        pageName: 'page' //页码的参数名称，默认：page
        , limitName: 'size' //每页数据量的参数名，默认：limit
      }
    });
    //监听添加按钮
    $("#admin_add").on("click", () => {
      layer.open({
        title: "添加管理员"
        , type: 1
        , area: '800px'
        , shade: false
        , content: $('#add_admin_form')
        , success: function (i, l) {
          form.on('submit(add_admin_form)', function (data) {
            var add_admin_data = data.field
            //序列化已选职位和角色
            var postId = ""
            var roleId = ""
            for (var i in add_admin_data) {
              if (i.indexOf("postId") != -1) {
                postId += i.split('.')[1] + ','
                delete add_admin_data[i];
              }
              if (i.indexOf("roleId") != -1) {
                roleId += i.split('.')[1] + ','
                delete add_admin_data[i];
              }
            }
            //去掉最后一个逗号
            postId = postId.substring(0, postId.length - 1)
            add_admin_data.roleId = roleId.substring(0, roleId.length - 1)
            delete add_admin_data.postId;
            add_admin_data.deptId = add_admin_data.deptId
            //序列化性别和状态
            add_admin_data.sex = add_admin_data.sex ? 'M' : 'F'
            add_admin_data.status = add_admin_data.status ? 'ENABLE' : 'DISABLE'
            //最终发送的js对象
            var reqData = {
              postId: postId,
              user: add_admin_data
            }
            admin.req({
              url: layui.api.user_add
              , method: 'POST'
              , contentType: 'application/json'
              , data: JSON.stringify(reqData)
              , done: () => {
                //清空+关闭+刷新
                $("#add_admin_form input").val('')
                layer.close(l)
                active['delreload'].call(this)
              }
            })
            return false;
          });
        }
      })
    })
    //监听工具条
    table.on('tool(person-admin-Lists)', function (obj) {
      var data = obj.data;
      if (obj.event === 'del') {
        admin.req({
          url: layui.api.user_isDelete,
          data: { userId: data.userId },
          done: () => {
            active['delreload'].call(this)
          }
        })
      } else if (obj.event === 'editor_position') {//编辑职位
        //序列化已选职位
        var position_value_data = data.position.split(",");
        var admin_id = data.userId
        //弹出
        layer.open({
          title: '编辑职位'
          , type: 1
          , offset: ["25%", "35%"]
          , content: `<div style="margin:20px" id="editor_position_layer"></div>
                      <div style="margin:20px;text-align: center">
                        <button class="layui-btn" id="editor_position_ok">确定</button>
                      </div>
                      `
          //渲染
          , success: function (i, l) {
            admin.req({//请求数据
              url: layui.api.post_findPostList + '?page=1&size=1000',
              success: function (res) {//请求回调
                //渲染穿梭框
                transfer.render({
                  elem: '#editor_position_layer'  //绑定元素
                  , parseData: function (resdata) {//序列化数据
                    return {
                      "value": resdata.postId //数据值
                      , "title": resdata.name //数据标题
                      , "disabled": false  //是否禁用
                      , "checked": false //是否选中
                    }
                  }
                  , title: ['未选', '已选']
                  , data: res.data//获取请求的数据
                  , value: position_value_data//获取已序列化的已选职位
                  , id: 'editor_position_transfer' //定义索引
                });
                $("#editor_position_ok").on("click", () => {//监听提交
                  var transfer_data = "";
                  //序列化提交的数据
                  for (var i of transfer.getData('editor_position_transfer')) {
                    transfer_data += i.value + ','
                  }
                  //实际提交数据
                  var reqData = {
                    postId: transfer_data,
                    user: {
                      userId: admin_id
                    }
                  }
                  //提交数据
                  admin.req({
                    url: layui.api.user_updateUserUnitPost
                    , method: 'POST'
                    , contentType: 'application/json'
                    , data: JSON.stringify(reqData)
                    , done: res => {
                      //清空+关闭+刷新
                      layer.close(l)
                      active['delreload'].call(this)
                    }
                  });
                })
              }
            })
          }
        })
      } else if (obj.event === 'editor_role') {//编辑角色
        //序列化已选角色
        var role_value_data = data.roleId.split(",");
        var admin_id = data.userId
        //弹出
        layer.open({
          title: '编辑角色'
          , type: 1
          , offset: ["25%", "35%"]
          , content: `<div style="margin:20px" id="editor_role_layer"></div>
                      <div style="margin:20px;text-align: center">
                        <button class="layui-btn" id="editor_role_ok">确定</button>
                      </div>
                      `
          //渲染
          , success: function (i, l) {
            admin.req({//请求数据
              url: layui.api.role_findRolePageList + '?page=1&size=1000',
              success: function (res) {//请求回调
                //渲染穿梭框
                transfer.render({
                  elem: '#editor_role_layer'
                  , parseData: function (resdata) {
                    return {
                      "value": resdata.roleId //数据值
                      , "title": resdata.name //数据标题
                      , "disabled": false  //是否禁用
                      , "checked": false //是否选中
                    }
                  }
                  , title: ['未选', '已选']
                  , data: res.data//获取请求的数据
                  , value: role_value_data//获取已序列化的已选职位
                  , id: 'editor_role_transfer' //定义索引
                })
                $("#editor_role_ok").on("click", () => {//监听提交
                  var transfer_data = "";
                  //序列化提交的数据
                  for (var i of transfer.getData('editor_role_transfer')) {
                    transfer_data += i.value + ','
                  }
                  //实际提交数据
                  var reqData = {
                    postId: data.position,
                    user: {
                      roleId: transfer_data,
                      userId: admin_id,
                    }
                  }

                  //提交数据
                  admin.req({
                    url: layui.api.user_updateUserUnitPost
                    , method: 'POST'
                    , contentType: 'application/json'
                    , data: JSON.stringify(reqData)
                    , done: res => {
                      //清空+关闭+刷新
                      layer.close(l)
                      active['delreload'].call(this)
                    }
                  });
                })
              }
            })
          }
        })
      }
    })
    //搜索执行重载封装
    var active = {
      reload: function () {
        var _val = $('#person-admin-Lists_val'),
          _key = $('#person-admin-Lists_key');
        //执行重载 
        table.reload('person-admin-Lists', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          , where: {
            searchVal: _val.val(),
            searchKey: _key.val()
          }
        });
      },
      //删除和添加公用刷新
      delreload: function () {
        var _val = $('#person-admin-Lists_val'),
          _key = $('#person-admin-Lists_key');
        //执行重载 
        table.reload('person-admin-Lists', {
          where: {
            searchVal: _val.val(),
            searchKey: _key.val()
          }
        });
      }
    };
    //搜索按钮监听
    $('.person-admin-Lists_btn').on('click', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
    //监听状态操作
    form.on('switch(admin_status)', function (obj) {
      var json = JSON.parse(decodeURIComponent($(this).data('json')));
      json = table.clearCacheKey(json);

      // json[this.name] = obj.elem.checked;
      //冻结
      if (obj.elem.checked) {
        admin.req({
          url: layui.api.user_freeze
          , data: { userId: json.userId }
        })
      } else {
        admin.req({
          url: layui.api.user_unfreeze
          , data: { userId: json.userId }
        })
      }
    });
    //监听性别操作
    form.on('switch(admin_status-sex)', function (obj) {
      var json = JSON.parse(decodeURIComponent($(this).data('json')));
      json = table.clearCacheKey(json);
      json.sex = obj.elem.checked ? 'M' : 'F';
      // json[this.name] = obj.elem.checked;
      //实际提交数据
      var reqData = {
        postId: json.position,
        user: json
      }
      //提交数据
      admin.req({
        url: layui.api.user_updateUserUnitPost
        , method: 'POST'
        , contentType: 'application/json'
        , data: JSON.stringify(reqData)
      });
    });
    //监听单元格编辑
    table.on('edit(person-admin-Lists)', function (obj) {
      var json = obj.data //得到所在行所有键值
      //实际发送数据
      var reqData = {
        postId: json.position,
        user: json
      }
      admin.req({
        url: layui.api.user_updateUserUnitPost
        , method: 'POST'
        , contentType: 'application/json'
        , data: JSON.stringify(reqData)
      });
    });
  });
</script>